* {
  box-sizing: border-box;
}
img {
  width: 360px;
  height: 240px;
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* працює тільки на macOS, розгладжує рендерінг світлого текст на фоні темного */

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  color: #212121;
  line-height: 1.5;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.noScroll {
  overflow-y: hidden;
}

.form__input {
  border-radius: 7px;
  border-style: none;
  font: inherit;
  padding: 10px;
  margin-right: 20px;
  max-width: 320px;
  height: 50px;
}

.search-form {
  height: 70px;
  display: flex;
  background-color: rgba(80, 55, 97, 0.632);
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.form__btn,
.form__story,
.language {
  padding: 10px 15px;
  border-radius: 7px;
  border-style: none;

  text-align: center;
  text-decoration: none;
}

.language {
  color: #f3ebeb;
  border: solid 1px;
  border-color: aliceblue;
}
.language__style {
  height: 25px;
  font-size: 20px;
}

.form__story {
  margin-left: 10px;
  margin-right: 15px;
}

.btn__dellet {
  min-width: 120px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
}

.btn__dellet,
.form__btn,
.form__story,
.item__story {
  width: 80px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__dellet:focus,
.btn__dellet:hover,
.form__btn:focus,
.form__btn:hover,
.form__story:focus,
.form__story:hover {
  background-color: rgba(114, 7, 103, 0.326);
  color: aliceblue;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.photo-card {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
}
.info {
  max-width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.gallery__item {
  color: #000;
  text-decoration: none;
}

.history {
  position: absolute;
  width: 370px;
  border: inherit;
  overflow: auto;
  left: 51%;
  transform: translateX(-10%);
}

.list__story {
  list-style-type: none;
}

.text__story {
  padding-left: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.item__story:hover,
.item__story:focus {
  background-color: rgba(111, 38, 104, 0.197);
}

.item__story:hover .text__story {
  color: #e7e7e7;
}

.modal {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.item__story {
  width: 310px;
  border-radius: 8px;
  border: solid rgb(72, 1, 102) 2px;
  background-color: rgb(245, 247, 248);
  text-overflow: ellipsis;
  overflow: auto;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition-property: overflow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
